#Activities{
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: var(--fontsize);
}

#Activities #Header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(59, 59, 59);
}

#Activities #Header h1{
    color: var(--fontColor1);
    padding: 0.5% 0;
}

#Activities #Header #Header__option{
    position: absolute;
    right: 0;
    width: 20%;
    height: 45%;
    display: grid;
    grid-template-columns: 30% 50%;

    font-size: 1em;
}

#Activities #Header #Header__option button{
    cursor: pointer;
    border-radius: 1vw !important;
    font-size: 1em;
}

#Activities #Header #Header__option button + button{
    margin-left: 5%;
}

#showBtn{
    background-color: rgb(96, 255, 33);
    color: var(--fontColor1)
}

#updateBtn{
    background-color: rgb(255, 165, 63);
    color: var(--fontColor1)
}

#searchForm{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchForm form{
    background-color: rgb(47, 47, 47);
    border: 0.07vw solid rgb(0, 0, 0);
    position: relative;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25% 0%;

    border-radius: 1vw;
}

#searchForm form i{
    position: relative;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.3em;
    color: var(--fontColor1);
}

#searchActivities{
    position: relative;
    width: 85%;
    font-size: 1em;
    color: var(--fontColor);

    border-radius: 1vw;
    padding: 0.5%  2%;
    background-color: rgb(255, 255, 255);
}

#container{
    position: relative;
    width: 100%;
    height: 100%;

    font-size: var(--fontsize);
}

#container-show{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 0.8em;
    padding: 1% 0;
}

#container-show table{
    position: relative;
    width: 70%;

    font-size: 1.2em;
    background-color: rgb(75, 75, 75);
    color: var(--fontColor);
    margin-top: 1%;

    padding: 0.5% 1%;
    border-radius: 1vw;
}

#container-show table thead tr{
    position: relative;
    background-color: rgb(81, 136, 255);
    color: var(--fontColor1);
}

#container-show table thead tr th{
    position: relative;
    align-items: center;

    font-size: 1.1em;
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
    padding: 0.5% 0;
}

#container-show table tbody tr td{
    position: relative;
    text-align: center;

    color: var(--fontColor);

    font-size: 1em;
    padding: 0.5% 1%;
}

#container-show table tbody tr{
    position: relative;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-size: 1em;
}

#container-show table tfoot td{
    position: relative;
    background-color: rgb(120, 120, 120);
    color: var(--fontColor1);

    padding: 0.25% 0.5%;

    text-align: center;
}

#container-update{
    position: relative;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2%;
    font-size: 1.2em;
}

#update-block{
    position: relative;
    width: 80%;
    height: max-content;
    display: grid;
    grid-template-columns: 30% 70%;
    background-image: linear-gradient(90deg, rgb(36, 5, 129), rgb(64, 111, 232));

    border-radius: 1vw;
    font-size: 1em;
}

.update-block__part{
    padding: 10% 6%;
}

#updateOptions{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: linear-gradient(90deg, rgb(66, 0, 209), rgb(117, 53, 255));
    border-radius: 1vw 25% 25% 1vw;    
    font-size: 0.8em;
}

#update-description{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: rgb(255, 255, 255)
}

#update-description h3{
    position: relative;
    text-align: center;
    font-size: 1.5em;
    
    margin-bottom: 5%;
}

#update-description p{
    position: relative;
    text-align: center;
    font-size: 1em;
    
    margin-bottom: 3%;
}

#updateOptions button{
    position: relative;
    width: 50%;
    height: max-content;
    margin-top: 2%;

    font-size: 1em;
    font-weight: bold;
    border-radius: 0.5vw;
    padding: 0.5% 2%;
    color: var(--fontColor1)
}

#updateOptions button[id=update-add]{
    background-color: rgb(70, 255, 70);
}

#updateOptions button[id=update-change]{
    background-color: rgb(255, 185, 55);
}

#updateOptions button[id=update-remove]{
    background-color: rgb(44, 44, 44);
}

#updateForm{
    font-size: var(--fontsize);
}

.updateForm__label{
    position: relative;
    width: 100%;
}

.updateForm__label + .updateForm__label{
    margin-top: 2%;
}

#update-addform{
    display: flex;
    flex-direction: column;
}

#update-addform label[class=updateForm__label]{
    display: grid;
    grid-template-columns: 15% 85%;
}

#update-addform label{
    font-size: 1.3em;
}

#update-addform label[class=updateForm__label] span{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: .25vw 0 0 .25vw
}

#update-addform label span{
    background-color: rgb(69, 69, 69);
    color: var(--fontColor1);
    padding: 0.5% 2%;
}

#update-addform label input, #update-addform label select{
    font-size: 1em;
    padding: 0.5% 2%;
    border-radius: 0 1vw 1vw 0;
}

#update-addform button[type=submit]{
    margin-top: 3%;
    font-size: 1.6em;
    border-radius: 1vw;

    color: var(--fontColor1);
    background-color: rgb(70, 255, 70);
}