#Introduce{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: max-content;

}

#Introduce h1 i{
    color: rgb(255, 199, 69);
    padding: 0 1%;
    font-size: 0.6em;
}

#Introduce #body{
    position: relative;
    width: 90%;

    margin-top: 1%;
    padding: 1%;

    font-size: 1.05em;
}

#Introduce .body-element{
    background-color: aliceblue;
    font-size: 1em;
}

#Introduce .body-element + .body-element{
    margin-top: 2%;
}

#Introduce .element-title{
    display: flex;
    align-items: center;

    background-color: rgb(56, 19, 85);
    color: var(--fontColor1);
    padding: 0.5% 2%;

    text-decoration: underline;
}

#Introduce .element-description{
    padding: 1% 5%;
}

#Introduce .element-description__line{
    font-size: 1.1em;
}

#Introduce .element-description__line + .element-description__line{
    margin-top: 0.5%;
}